ffmpeg-python
gradio>=3.7.0
numpy==1.23.5
scipy==1.10.0
SoundFile==0.12.1
torch
torchaudio
torchcrepe
tqdm
rich
loguru
praat-parselmouth
librosa==0.9.1
tensorboardX
transformers
pyyaml
einops
piper-tts
